#ui-overlay>.accordion {
    position: absolute;
}
#ui-overlay #right-side {
    position: absolute;
    top: 10px;
    right: 10px;
}
#ui-overlay #right-side .accordion {
    margin-bottom: 10px;
}
.accordion {
    background: #1c1f26; 
    border: 1px solid #2a2f3a; 
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); 
    width: 200px; 
    padding: 10px 10px 10px 14px;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px; 
    color: #b0c7d1; 
    text-align: left;
}
.accordion span {
    text-overflow: ellipsis;
}
.accordion .content {
    max-height: 0; 
    padding-top: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease, padding-top 0.3s ease, opacity 0.3s ease; 
    opacity: 0;
}
.accordion.expanded .content {
    padding-top: 8px;
    opacity: 1;
}

.accordion .title {
    cursor: pointer; 
    color: white;
    font-weight: bold;
    margin-left: -4px;
    display: block;
}
.accordion .arrow {
    display: inline-block;
    transition: transform 0.2s ease; 
    font-size: 12px;
    color: #b0c7d1;
}
.accordion.expanded .arrow {
    transform: rotate(180deg); 
}

.accordion .data {
    color: white;
}
.accordion .form {
    display: flex;
    flex-direction: column;
}
.accordion label {
    pointer-events: none;
}
.accordion button, .accordion select {
    margin: 4px 0;
}